* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
    
    


/*=== Style of top navigation ===*/
nav {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: rgb(42, 136, 6);
    font: 25px 'Baloo Bhaina',Verdana,sans-serif;

}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    position: relative;
    float: left;
    list-style: none;
    padding: 0 20px;
    /*margin-left: 20px;*/
}
nav li:hover {
    background: green;
}
nav ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
nav li a {
    display: block;
    text-decoration: none;
    color: #9be08e;
    padding-left: 10px;
}
nav li a:hover {
    color: antiquewhite;
    text-shadow: 2px 2px 4px #2daf15;
}
/*=== Добавляем иконку всплывающего меню*/
nav a span {
    display: block;
    float: right;
    margin-left: 7px;
    margin-top: 4px;
}
ul a span {
    font-family: sans-serif;
    transform: rotate(-180deg);
}
/*=== Текстовое поле для поиска ===*/
nav input {
    float: right;
    position: relative;
    top: -37px;
    right: 22%;
    width: 0px;
    height: 25px;
    border: 1px solid green;
    border-radius: 5px;
    /*box-shadow: 2px 2px 2px 2px darkgreen;*/
    font-size: 20px;
    outline: none;
}
nav img {
    width: 35px;
    height: 35px;
    background-color: rgb(42, 136, 6);
    position: relative;
    top: -41px;
    right: -58%;
}
nav img:hover {
    width: 37px;
    height: 37px;
    cursor: pointer;
}

    
/*=== Выпадающий список ===*/
.dropdown {
    display: none;
    font-size: 18px;
    position: absolute;
    left: 0;
    z-index: 5;
    background: rgba(10,196,70,.5);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
}
.dropdown li {
    float: none;
    padding-top: -5px;
    text-align: center;
}
.dropdown li:hover {
    background: rgba(25,235,226,.5);
}
.dropdown li:hover.last {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: red;
}
.dropdown li a {
    color: rgb(33,3,190);
}
    
    

/*=== Style of dropdown in a navigation ===*/

/*=== Style of header ===*/
header {
    widows: 100%;
    height: 111px;
    background-color: rgb(8, 93, 14);
}
header h1 {
    display: inline-block;
    float: left;
    color: antiquewhite;
    font-family: 'Baloo Bhaina',Verdana,sans-serif;
    font-style: italic;
    font-size: 48px;
    margin-left: -457px;
}
header span {
    font-family: Verdana;
    display: inline-block;
    font-size: 34px;
    margin-left: 20px;
    word-spacing: 17px;
}
.small-head {
    float:left;
    margin-left: 60px;
    margin-top: 20px;
}
.small-head :first-child {
    color: #eefff1;
    font-family: Helvetica;
}
.small-head :last-child {
    color: rgb(39, 144, 46);
    font-family: Helvetica;
    padding-top: 6px;
}

/*=== Style div with photo ===*/
#section-photo {
    background-color: darkgreen;
    position: relative;
    height: 100%;
}
#photo {
    width: 77%;
    height: 600px;
}
#photo div {
    float: left;
    position: relative;
    background: #999;
    width: 25%;
    height: 282px;
}
/*=== Псевдоэлемент с градиентом на фото ===*/
#photo div::after {
    content: '';
    width:100%;
    height: 282px;
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    background: -webkit-radial-gradient(transparent,rgba(0,0,0,.7));
    transition: all .4s;
}
#photo div:hover::after {
    opacity: 0;
}
#photo img {
    float: left;
    width: 100%;
    height: 282px;
}
/*=== Стиль для скрытой информации людях на фото ===*/
#mans {
    
}
.about-man {
    display: none;
    width: 38%;
    height: 100%;
    position: absolute;
    padding-left: 10px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    color: #d8de8a;

    text-indent: 30px;
    overflow: hidden;
}
.about-man h3 {
    text-align: center;
    font-size: 30px;
}
.about-man p {
    text-overflow: ellipsis;
}    
.left {
    top: 0%;
    left: 0%;
}   
.right{

    top: 0%;
    left: 39%;
}
/*=== Hide style which show on click ===*/
.opacity {
   opacity: 0.1;
}


   
/*=== Style aside ===*/
aside {
    float: right;
    width: 20%;
    height: 800px;
    position: relative;
    top: -736px;
    right: 15px;
    background-color: rgba(86, 253, 46, 0.76);
    border-radius: 5px;
    box-shadow: 8px 7px 5px rgb(24, 87, 0);
}
.header-aside-nav {
    position: relative;
    top: 154px;
    left: 22px;
}
.header-aside-nav p {
    font-size: 30px;
    color: #055D06;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    font-weight: bold;
}
.header-aside-nav p:hover {
    text-shadow: 1px 2px 1px green;
    cursor: pointer;
}

aside #aside-nav {
    margin-top: 161px;
}
aside ul {
    list-style: none;
}
aside li {
    text-align: center;
    padding-top: 10px;
    border-bottom:1px dashed antiquewhite;
    font-family: 'Titillium Web', sans-serif;
    font-size: 23px;
    color: #ffe9cb;
    cursor: pointer;
}

aside li:hover {
    background-color: darkgreen;
    font-size: 28px;
    border-bottom: none;
    
}
/*=== Style of content ===*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;
}
#text-content {
    background-image: linear-gradient(45deg,green,rgb(4, 67, 8));
    width: 100%;
    // height: 100%;
}
#text-content .column {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    color: #d8de8a;
    width: 26%;
    float: left;
}
#text-content h3 {
    text-align: center;
    font-family: 'Baloo Bhaina',Verdana,sans-serif;
    font-size: 24px;
    color:#cdfed8;
}
#text-content p {
    margin-left:10px;
    text-indent:20px    
}
#text-content span {
    color: #1765f8;
}
#text-content span:hover {
    color: #150a98;
    cursor: pointer;
}
.column img {
    width: 45%;
    margin: 10px;
    border: 1px solid #cdfed8;
    border-radius: 5px;

}

.column p > a {
    font-size: 20px;
    color: #1765f8;
    text-decoration-line: none;
    margin-left: 41%;
}
.column p > a:hover {
    color: #150a98;
    font-style: italic; 
}    
.column p > a:hover::after {
    content: " ...";
    color: #150a98;
    font-style: italic;
}
/*=== Кнопка вверх ===*/ 
.scroll-up {
    display: none;
    width: 55px;
    height: 55px;
    opacity: .8;
    position: fixed;
    bottom: 50px;
    right: 75px;
    text-indent: -9999px;
    background: url('img/up.png') no-repeat;
    background-position: 50% 50%; 
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
}
    






footer {
    width: 100%;
    height: 100%;
    border-top: 1px solid #FCEE21;
    background: linear-gradient(35deg,#009E00,#009245);
   
}    
/*=== Кнопни социальных сетей ===*/ 
.networks {
    width: 100%;
    height: 100%;
    margin: 10px;
}
.networks li {
    background-image: url('img/sprite-network.png');
    background-color: darkgreen;
    width: 50px;
    height: 50px;
    list-style: none;
    display: inline-block;
    border-radius: 50%;
    transition: all ease-in-out 1s;
    cursor: pointer;  
}
.facebook {
    background-position: 0px 0px;
}
.facebook:hover {
    background-position: 0px 0px;
    background-color: #3b5998;
    box-shadow: 2px 2px 2px black;

}  
.github {
    background-position: -50px 0px;
}
.github:hover {
    background-position: -50px 0px;
    background-color: #24292e;
    box-shadow: 2px 2px 2px black;
}

.google {
    background-position: -100px 0px;
}
.google:hover {
    background-position: -100px 0px;
    background-color: #ea4335;
    box-shadow: 2px 2px 2px black;
}
.instagram {
    background-position: -150px 0px;
}
.instagram:hover {
    background-position: -150px 0px;
    background-color: #3897f0;
    box-shadow: 2px 2px 2px black;
}  
.linkedin {
    background-position: -200px 0px;
}
.linkedin:hover {
    background-position: -200px 0px;
    background-color: #0077b5;
    box-shadow: 2px 2px 2px black;
}
.odnocklas {
    background-position: -250px 0px;
}
.odnocklas:hover {
    background-position: -250px 0px;
    background-color: #f58220;
    box-shadow: 2px 2px 2px black;
}
.pinterest {
    background-position: -300px 0px;
}
.pinterest:hover {
    background-position: -300px 0px;
    background-color: #bd081c;
    box-shadow: 2px 2px 2px black;
}
.youtube {
    background-position: -350px 0px;
}
.youtube:hover {
    background-position: -350px 0px;
    background-color: #e62117;
    box-shadow: 2px 2px 2px black;
}        
/*=== Навигация футера ===*/
.foot-nav {
    margin-left: 9%;
}
.foot-nav ul {
    list-style: none;
    color: red;
}
.foot-nav ul li {
    padding: 2px 0;
}
.foot-nav ul li a {
    text-decoration: none;
    color: #24292e;
    transition: all ease-in-out 1s;
    cursor: pointer;
}
.foot-nav ul li a:hover {
    color: orange;
    border-bottom: 1px dashed orange;
}

.copy {
    // width: 100%;
    margin-bottom: 10px;
}
.copy p {
    font-family: Helvetica,sans-serif;
    text-align: center;
}

    
     

    
    
    

 
/*
@media screen and (min-width:800px) and (max-width:1160px){
    #photo div {
        width: 190px;
        height: 213px;
    }
    #photo img {
        width: 190px;
        height: 213px;
    }
} 